.descrofrec{
    field-sizing: content;
    
}

.create-rec-form, #rec-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nameofrec, #typeofrec, #itemimage, #descrofrec, #previewimage{
    margin: 15px auto;
}

#itemimage{
    position:relative;
    left: 70px;
}

#previewimage{
    display: none;
    max-width: 300px;
}