

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=" /css/home.css">
    <link rel="stylesheet" href=" /css/global.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dozvillia | Home page</title>
</head>
<body>
    {% include 'header.html.twig' %}
    <div class="nav_section">
        <div class="search-bar">
            <form action="" method="GET" id="search-form">
                <div class="form-items">

                    <input type="search" name="searcher-content" id="search-bar" placeholder="type here for search">
                    
                    <input type="image" id="search-image" src="/images/goodSearchBtn.png" alt="search button">
                </div>
            </form>
        </div>
    </div>
    <div class="home-page-link-section">
        <a class="page-nav-links" href="#">BEST MOVIES IN WORLD</a>
        <a class="page-nav-links" href="#">BEST SERIALS IN WORLD</a>
        <a class="page-nav-links" href="#">BEST PODCASTS IN WORLD</a>
        <a class="page-nav-links" href="#">BEST BOOKS IN WORLD</a>
        <a class="page-nav-links" href="#">LAST RECOMANDATIONS</a>
    </div>
</body>
</html>