<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=" /css/prifile.css">
    <link rel="stylesheet" href=" /css/global.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dozvillia | user`s profile</title>
</head>
<body>
    {% include 'header.html.twig' %}
    <div class="profile-info-s">
    <p class="prfile-info-item"> {{ session.userFirstName }} {{ session.userLastName }}</p>
    <p class="prfile-info-item"> {{ session.user_email }}</p>
    </div>
</body>
</html>