<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href=" /css/welcome.css">
    <link rel="stylesheet" href=" /css/global.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dozvillia | Welcome</title>
</head>
<body>
    {% include 'header.html.twig' %}
    <div class="section-1">
    <h2 class="welcome-message">Congradulations, the registration is successfull, now you can <a href="/login">Login</a> in your account</h2>
    </div>
</body>
</html>